* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.drum-machine {
  position: absolute;
  top: 10vh;
  left: 10vw;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 30px;
  border: 1px solid #333;
}

.drum-machine button {
  height: 100%;
}