body {
  margin: 0;
}

.box {
  flex: 1;
  border: 1px solid black;
}

.box-1 {
  flex: 3;
  background-color: red;
}

.container-flex {
  display: none;
  flex-direction: row;
}

.container-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}