a {
  display: block;
  width: 100px;
  height: 100px;
  background: red;
}

.pagina-2 a {
  background-color: blue;
}

.pagina-3 a {
  background-color: green;
}

.box-1 {
  position: absolute;
  bottom: 0;
  right: 0;
}